@model LoginSignup.ViewModel.UpdateEmployeeViewModel;

<div class="wrapper">
    <form method="post">
        <div class="mb-3">
            <label for="Employee-id" class="col-form-label">Employee Id</label>
            <input type="text" class="form-control" id="recipient-name" readonly placeholder="Employee Id" asp-for="EmployeeId">
        </div>
        <div class="mb-3">
            <label for="Employee-name" class="col-form-label">Employee Name</label>
            <input type="text" class="form-control" id="recipient-name" placeholder="Employee Name" asp-for="Name">
        </div>
        <div class="mb-3">
            <label for="Email" class="col-form-label">Email</label>
            <input type="email" class="form-control" id="recipient-name" placeholder="Email" asp-for="Email">
        </div>
        <div class="mb-3">
            <label for="Address" class="col-form-label">Address</label>
            <input type="text" class="form-control" id="recipient-name" placeholder="Address" asp-for="Address">
        </div>
        <div class="mb-3">
            <label for="ImageUrl" class="col-form-label">ImageUrl</label>
            <input type="text" class="form-control" id="recipient-name" placeholder="ImageUrl" asp-for="ImageUrl">
        </div>
        <div class="mb-3">
            <label for="Phone-number" class="col-form-label">Phone Number</label>
            <input type="number" class="form-control" id="recipient-name" placeholder="Phone Number" asp-for="PhoneNumber">
        </div>
        <div class="modal-footer">

            <button type="submit" class="btn btn-primary">Update Employee</button>
        </div>

    </form>
</div>