@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2 class="bg-primary text-white text-center rounded py-2 ">Welcome to Employee Management System Project</h2>
    <div class="text-center mt-4">
        <a href="@Url.Action("EmployeeList", "Employee")" class="btn btn-success mt-2">Get Started</a>
    </div>

</div>
